<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuq.flight.grab.mappers.SearchResultMapper" >
  <resultMap id="BaseResultMap" type="com.neuq.flight.grab.domain.SearchResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="trip_type" property="tripType" jdbcType="INTEGER" />
    <result column="back_date" property="backDate" jdbcType="VARCHAR" />
    <result column="go_date" property="goDate" jdbcType="VARCHAR" />
    <result column="to_city_code" property="toCityCode" jdbcType="VARCHAR" />
    <result column="from_city_code" property="fromCityCode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.neuq.flight.grab.domain.SearchResult" extends="BaseResultMap" >
    <result column="search_info" property="searchInfo" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, trip_type, back_date, go_date, to_city_code, from_city_code
  </sql>
  <sql id="Blob_Column_List" >
    search_info
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.neuq.flight.grab.domain.SearchResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from search_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neuq.flight.grab.domain.SearchResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from search_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from search_result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from search_result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuq.flight.grab.domain.SearchResultExample" >
    delete from search_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.neuq.flight.grab.domain.SearchResult" >
    insert into search_result (id, trip_type, back_date, 
      go_date, to_city_code, from_city_code, 
      search_info)
    values (#{id,jdbcType=INTEGER}, #{tripType,jdbcType=INTEGER}, #{backDate,jdbcType=VARCHAR}, 
      #{goDate,jdbcType=VARCHAR}, #{toCityCode,jdbcType=VARCHAR}, #{fromCityCode,jdbcType=VARCHAR}, 
      #{searchInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neuq.flight.grab.domain.SearchResult" >
    insert into search_result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tripType != null" >
        trip_type,
      </if>
      <if test="backDate != null" >
        back_date,
      </if>
      <if test="goDate != null" >
        go_date,
      </if>
      <if test="toCityCode != null" >
        to_city_code,
      </if>
      <if test="fromCityCode != null" >
        from_city_code,
      </if>
      <if test="searchInfo != null" >
        search_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tripType != null" >
        #{tripType,jdbcType=INTEGER},
      </if>
      <if test="backDate != null" >
        #{backDate,jdbcType=VARCHAR},
      </if>
      <if test="goDate != null" >
        #{goDate,jdbcType=VARCHAR},
      </if>
      <if test="toCityCode != null" >
        #{toCityCode,jdbcType=VARCHAR},
      </if>
      <if test="fromCityCode != null" >
        #{fromCityCode,jdbcType=VARCHAR},
      </if>
      <if test="searchInfo != null" >
        #{searchInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuq.flight.grab.domain.SearchResultExample" resultType="java.lang.Integer" >
    select count(*) from search_result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update search_result
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tripType != null" >
        trip_type = #{record.tripType,jdbcType=INTEGER},
      </if>
      <if test="record.backDate != null" >
        back_date = #{record.backDate,jdbcType=VARCHAR},
      </if>
      <if test="record.goDate != null" >
        go_date = #{record.goDate,jdbcType=VARCHAR},
      </if>
      <if test="record.toCityCode != null" >
        to_city_code = #{record.toCityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fromCityCode != null" >
        from_city_code = #{record.fromCityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.searchInfo != null" >
        search_info = #{record.searchInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update search_result
    set id = #{record.id,jdbcType=INTEGER},
      trip_type = #{record.tripType,jdbcType=INTEGER},
      back_date = #{record.backDate,jdbcType=VARCHAR},
      go_date = #{record.goDate,jdbcType=VARCHAR},
      to_city_code = #{record.toCityCode,jdbcType=VARCHAR},
      from_city_code = #{record.fromCityCode,jdbcType=VARCHAR},
      search_info = #{record.searchInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update search_result
    set id = #{record.id,jdbcType=INTEGER},
      trip_type = #{record.tripType,jdbcType=INTEGER},
      back_date = #{record.backDate,jdbcType=VARCHAR},
      go_date = #{record.goDate,jdbcType=VARCHAR},
      to_city_code = #{record.toCityCode,jdbcType=VARCHAR},
      from_city_code = #{record.fromCityCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuq.flight.grab.domain.SearchResult" >
    update search_result
    <set >
      <if test="tripType != null" >
        trip_type = #{tripType,jdbcType=INTEGER},
      </if>
      <if test="backDate != null" >
        back_date = #{backDate,jdbcType=VARCHAR},
      </if>
      <if test="goDate != null" >
        go_date = #{goDate,jdbcType=VARCHAR},
      </if>
      <if test="toCityCode != null" >
        to_city_code = #{toCityCode,jdbcType=VARCHAR},
      </if>
      <if test="fromCityCode != null" >
        from_city_code = #{fromCityCode,jdbcType=VARCHAR},
      </if>
      <if test="searchInfo != null" >
        search_info = #{searchInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.neuq.flight.grab.domain.SearchResult" >
    update search_result
    set trip_type = #{tripType,jdbcType=INTEGER},
      back_date = #{backDate,jdbcType=VARCHAR},
      go_date = #{goDate,jdbcType=VARCHAR},
      to_city_code = #{toCityCode,jdbcType=VARCHAR},
      from_city_code = #{fromCityCode,jdbcType=VARCHAR},
      search_info = #{searchInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuq.flight.grab.domain.SearchResult" >
    update search_result
    set trip_type = #{tripType,jdbcType=INTEGER},
      back_date = #{backDate,jdbcType=VARCHAR},
      go_date = #{goDate,jdbcType=VARCHAR},
      to_city_code = #{toCityCode,jdbcType=VARCHAR},
      from_city_code = #{fromCityCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>